{{> header}}

<h1>Voici votre panier</h1>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
    {{#basket}}
    <div class="col mb-3">
            <div class="card mb-4 h-100">
                <img class="card-img-top" src="{{img}}">
                <div class="card-body">
                    <p class="card-text">{{model}}</p>
                    <a href="/location" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Louer</a>
                    <a href="/delete/{{id}}" class="btn btn-danger btn-lg active" role="button" aria-pressed="true"style="margin-top: 20px">Supprimer</a>
                </div>
            </div>
    </div>
    {{/basket}}
</div>


{{> footer}}