{{> header}}

<div class="row row-cols-1 row-cols-sm-2">
    {{#entry}}
    <div class="col">
        <h1> Supprimer un véhicule dans le panier </h1>
        <p>Êtes-vous sûr de vouloir supprimer cet véhicule dont le model est {{model}} ?</p>
        <form class="form-inline" action="/delete/{{id}}" method="post">
            <input class="form-control btn btn-primary mr-2" type="submit" value="Effacer">
            <a class="form-control btn btn-primary" href="/basket">Annuler<a>
        </form>
    </div>
    {{/entry}}
</div>

{{> footer}}