<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Location de véhicule au Sénégal Dibor-Family</title>
        <link rel="stylesheet" href="/fontawesome-free-5.13.0-web/css/all.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <!-- Javascript library. Should be loaded in head section -->
        <script
                src="https://api.systempay.fr/static/js/krypton-client/V4.0/stable/kr-payment-form.min.js"
                kr-public-key="73239078:testpublickey_Zr3fXIKKx0mLY9YNBQEan42ano2QsdrLuyb2W54QWmUJQ"
                kr-post-url-success="paid.html">
        </script>
        <!-- theme and plugins. should be loaded after the javascript library -->
        <!-- not mandatory but helps to have a nice payment form out of the box -->
        <link rel="stylesheet"
              href="https://api.systempay.fr/static/js/krypton-client/V4.0/ext/classic-reset.css">
        <script
                src="https://api.systempay.fr/static/js/krypton-client/V4.0/ext/classic.js">
        </script>

    </head>

    <body>
        <!--fixed-top-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><div style="color: rgba(52,85,71,0.77)"><em><strong>Dibor Family</strong></em></div></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="/"><i class="fa fa-home"></i> Home <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" href="/list-vehicule"><i class="fa fa-car"></i> Liste des vehicules </a>
                        <a class="nav-item nav-link" href="/agence"> Nos agences </a>
                        {{#authenticated}}
                        <a class="nav-item nav-link" href="/basket/{{id}}"><i class="fa fa-shopping-basket"></i> Voir le panier </a>
                        <a class="nav-item nav-link" href="/logout"><i class="fa fa-sign-out-alt"></i> Se déconnecter </a>
                        {{/authenticated}}
                    </div>
                </div>
            </div>
        </nav>






















    <!--<nav class="navbar navbar-expand-md navbar-dark bg-primary" style="margin-bottom: 100px">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="navbar-brand" href="/"><i class="fas fa-home"></i> Home </a>
                </li>

                <li class="nav-item active">
                    <a class="navbar-brand" href="/list-vehicule"><i class="fas fa-car"></i> Liste des vehicules </a>
                </li>

                {{#authenticated}}
                <li class="nav-item active">
                    <a class="navbar-brand" href="/basket/{{id}}"><i class="fas fa-shopping-basket"></i> Voir le panier </a>
                </li>
                {{/authenticated}}

                <li class="nav-item active">
                    <a class="navbar-brand" href="/agence"> Nos agences </a>
                </li>

                {{#authenticated}}
                <li class="nav-item active">
                    <a class="navbar-brand" href="/logout"><i class="fas fa-sign-out-alt"></i> Se déconnecter </a>
                </li>
                {{/authenticated}}

            </ul>

            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">
                    <a class="navbar-brand">
                        <img src="https://cdn3.iconfinder.com/data/icons/seo-and-internet-marketing-11/512/55-512.png" width="30" height="30">
                    </a>
                    Search
                </button>
            </form>

        </div>
    </nav>-->
    <main role="main" class="container" style="margin-top: 3rem">
