{{> header}}

<p><a href="/new_client" class="btn btn-primary mr-2"><i class="fas fa-user-circle"></i> CRÉER UN COMPTE</a></p>
<p><a href="/login" class="btn btn-primary mr-2"><i class="fas fa-user"></i> MON ESPACE CLIENT</a></p>

<div class="row">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="col-md-12">
                <div id="carouselHome" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselHome" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselHome" data-slide-to="1"></li>
                        <li data-target="#carouselHome" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://hertzcorse.com/wp-content/uploads/Banniere/banniere_Wrangler.png" class="d-block w-100">
                            <div class="carousel-caption d-none d-md-block">
                                <!--<h5>First slide label</h5>
                                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://hertzcorse.com/wp-content/uploads/Banniere/banniere_calvi-1.png" class="d-block w-100">
                            <div class="carousel-caption d-none d-md-block">
                                <!--<h5>Second slide label</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://hertzcorse.com/wp-content/uploads/Banniere/banniere_piana.png" class="d-block w-100">
                            <div class="carousel-caption d-none d-md-block">
                                <!--<h5>Third slide label</h5>
                                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>-->
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselHome" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselHome" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">

        <div class="col-md-4">
            <div class="card" style="margin-top: 70px">
                <div class="card-body">
                    <!--<h3 class="card-title">Offre spécial</h3>-->
                    <div id="carouselCard1" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselCard1" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselCard1" data-slide-to="1"></li>
                            <li data-target="#carouselCard1" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://www.hertzcorse.com/wp-content/uploads/2019/01/jeep3.png" class="d-block w-100">
                                <div class="carousel-caption d-none d-md-block">
                                    <!--<h5>First slide label</h5>
                                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="https://www.hertzcorse.com/wp-content/uploads/2019/01/jeep3.png" class="d-block w-100">
                                <div class="carousel-caption d-none d-md-block">
                                    <!--<h5>Second slide label</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="https://www.hertzcorse.com/wp-content/uploads/2019/01/jeep3.png" class="d-block w-100">
                                <div class="carousel-caption d-none d-md-block">
                                    <!--<h5>Third slide label</h5>
                                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>-->
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselCard1" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselCard1" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="margin-top: 70px">
                <div class="card-body">
                    <!--<h3 class="card-title">Offre spécial</h3>-->
                    <div id="carouselCard2" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselCard2" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselCard2" data-slide-to="1"></li>
                            <li data-target="#carouselCard2" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://www.hertzcorse.com/wp-content/uploads/2019/01/jeep3.png" class="d-block w-100">
                                <div class="carousel-caption d-none d-md-block">
                                    <!--<h5>First slide label</h5>
                                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="https://www.hertzcorse.com/wp-content/uploads/2019/01/jeep3.png" class="d-block w-100">
                                <div class="carousel-caption d-none d-md-block">
                                    <!--<h5>Second slide label</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="https://www.hertzcorse.com/wp-content/uploads/2019/01/jeep3.png" class="d-block w-100">
                                <div class="carousel-caption d-none d-md-block">
                                    <!--<h5>Third slide label</h5>
                                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>-->
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselCard2" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselCard2" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card" style="margin-top: 70px">
                <div class="card-body">
                    <!--<h4 class="card-title">Offre spécial avec <strong><em>Dibor</em></strong> Family</h4>-->
                    <div id="carouselCard3" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselCard3" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselCard3" data-slide-to="1"></li>
                            <li data-target="#carouselCard3" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://www.hertzcorse.com/wp-content/uploads/2019/01/jeep3.png" class="d-block w-100">
                                <div class="carousel-caption d-none d-md-block">
                                    <!--<h5>First slide label</h5>
                                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="https://www.hertzcorse.com/wp-content/uploads/2019/01/jeep3.png" class="d-block w-100">
                                <div class="carousel-caption d-none d-md-block">
                                    <!--<h5>Second slide label</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="https://www.hertzcorse.com/wp-content/uploads/2019/01/jeep3.png" class="d-block w-100">
                                <div class="carousel-caption d-none d-md-block">
                                    <!--<h5>Third slide label</h5>
                                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>-->
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselCard3" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselCard3" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

</div>



{{> footer}}

