{{> header}}

<h1>Liste des véhicules</h1>
<div class="jumbotron mt-5" style="background-color: white">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
            {{#vehicules}}
            <div class="col mb-3">
                <a href="/read/{{id}}">
                    <div class="card mb-4 h-100">
                        <img class="card-img-top" src="{{img}}">
                        <div class="card-body">
                            <p class="card-text">{{model}}</p>
                        </div>
                    </div>
                </a>
            </div>
            {{/vehicules}}
        </div>
    </div>
</div>



{{> footer}}