{{> header}}

<div class="row">
    <div class="col-md-8 offset-md-3">
        <div class="card" style="width: 400px; margin-top: 10px; color: black">
            <div class="card-body">
                <div style="display: flex; justify-content: center"><h1 class="card-title">Se connecter</h1></div>
                <form action="/login" method="post">

                    <div class="input-group flex-nowrap">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="addon-wrapping"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="email" name="email" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="addon-wrapping">
                    </div>

                    <div class="input-group flex-nowrap" style="margin-top: 19px">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="addon1-wrapping"><i class="fas fa-unlock-alt"></i></span>
                        </div>
                        <input type="password" name="password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="addon-wrapping">
                    </div>

                    <div style="display: flex; justify-content: center; margin-top: 19px"><input class="form-control btn btn-success" type="submit" value="Soumission" style="width: 150px"></div>
                </form>
            </div>
        </div>
    </div>

</div>

{{> footer}}