{{> header}}

<div class="row">
    <div class="col-md-8 offset-md-3">
        <div class="card" style="width: 400px; margin-top: 10px; color: black">
            <div class="card-body">
                <div style="display: flex; justify-content: center"><h1 class="card-title">Ouverture d'un compte</h1></div>
                <form action="/new_client" method="post">

                    <div class="input-group flex-nowrap">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="addon-wrapping2"><i class="fas fa-address-card"></i></span>
                        </div>
                        <input type="text" name="name" class="form-control" placeholder="Name" aria-label="Username" aria-describedby="addon-wrapping">
                    </div>

                    <div class="input-group flex-nowrap" style="margin-top: 19px">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="addon-wrapping"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="email" name="email" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="addon-wrapping">
                    </div>

                    <div class="input-group flex-nowrap" style="margin-top: 19px">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="addon1-wrapping"><i class="fas fa-unlock-alt"></i></span>
                        </div>
                        <input type="password" name="password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="addon-wrapping">
                    </div>

                    <div style="display: flex; justify-content: center; margin-top: 19px"><input class="form-control btn btn-success" type="submit" value="S'inscrire" style="width: 150px"></div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- <div class="col-md-6 offset-md-3">
        <div class="jumbotron mt-5" style="background-color: rgba(0,127,255,0.96)">
            <div class="container">
                <div style="display: flex; justify-content: center"><h1>Ouverture d'un compte</h1></div>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <form action="/new_client" method="post">
                            <p>Name <input class="form-control" type="text" name="name"></p>
                            <p>Email <input class="form-control" type="email" name="email"></p>
                            <p>Password <input class="form-control" type="password" name="password"></p>
                            <input class="form-control btn btn-success" type="submit" value="S'inscrire">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

{{> footer}}