{{> header}}

<!--<button type="button" class="btn btn-primary btn-lg">
    {{#entry}}
    <a href="/basket/{{id}}"><div style="color: aliceblue">Voir le Panier</div></a>
    {{/entry}}
</button>-->

<div class="row row-cols-1 row-cols-sm-2">
    <div class="card mb-4 h-100">
        {{#entry}}
        <img class="card-img-top" src="{{img}}">
        <div class="card-body">
            <p class="card-text"> Marque du véhicule : {{model}}</p>
            <p class="card-text"> Couleur du véhicule : {{couleur}}</p>
            <p class="card-text"> Prix de la location : {{price}}€/jour</p>
            {{#authenticated}}
            <form action="/read/{{id}}" method="post">
                <input class="form-control btn btn-primary" type="submit" value="Ajouter au panier">
            </form>
            {{/authenticated}}
        </div>
        {{/entry}}
    </div>

</div>

{{> footer}}