{{> header}}
<div class="container">

    <div class="row">

        <div class="col-sm-5">
            <div class="row">
                <div class="card" style="width: 800px">
                    <div class="card-body" style="background-color: rgba(0,127,255,0.96)">
                        {{#agence}}
                        <h6 class="card-title">Location de véhicule à {{ville}} </h6>
                        <h3 class="card-title">VOUS RECHERCHEZ UNE LOCATION DE VOITURE A {{ville}} ?</h3>
                        <h6 class="card-title">Découvrez notre offre de Location de voiture à {{ville}} au meilleur prix !</h6>
                        <img src="{{img}}" class="card-img-bottom">
                        <h6 class="card-title">Nous vous proposons la Location de voiture à {{ville}}</h6>
                        <h5 class="card-title">VOTRE AGENCE DIBOR À {{ville}}</h5>
                        <div class="container">
                            <!--<div class="row row-cols-1">-->
                            <h3 class="card-title"><i class="fas fa-map-marker-alt" style="color: greenyellow"></i> Agence de {{ville}}</h3>
                            <h6 class="card-title" style="margin-left: 50px"> {{lieu}} </h6>
                            <p class="card-text" style="margin-left: 50px"><i class="fas fa-phone-alt"></i> {{telephone}}</p>
                            <p class="card-text" style="margin-left: 50px"><i class="fas fa-envelope"></i> {{email}}</p>
                            <!--</div>-->
                        </div>
                    </div>
                    {{/agence}}
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="row">
                <div class="jumbotron mt-9" style="margin-left: 15px; height: 600px">
                    <div class="container">
                        <h5 style="display: flex; justify-content: center">NOS LOCALISATIONS</h5>
                        <div class="row">
                            <img style="width: 250px; height: 400px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/Senegal-departments-001.svg/1200px-Senegal-departments-001.svg.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    {{> footer}}